.edit-docs {
    .file-area {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        flex: 1;
    }
    .mt-3 {
        margin-top: 3rem;
    }
    .spacer {
        margin-top:5rem;
        margin-bottom: 5rem;
    }
    .form {
        max-width: 550px;
    }
    .submit-group {
        margin: 10px auto;
    }
}